<link rel="stylesheet" href="./static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class ="header">
    <h1>Keskustelusovellus</h1>
</div>
<div class ="content">
    {% if session.user_id %}
        Olet kirjautunut sisään.
        {% if user_is_admin %}
            <a href="/new">Lähetä viesti</a> | <a href="/topic">Luo uusi aihealue</a> | <a href="/">Palaa etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
        {% else %}
            <a href="/new">Lähetä viesti</a> | <a href="/">Palaa etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    {% else %}
        <a href="/login">Kirjaudu sisään</a>
    {% endif %}
</div>
<hr>
<div class ="lowercontent">
    Kaikki viestit | <small>Viestien määrä: {{ message_count }} / Sivulataukset: {{visits_count}} / Rekisteröityneet käyttäjät: {{users_count}}</small>
</div>
<hr>


<div class ="search">
    <strong>Hakutoiminnot</strong>
    <p>
    <form action="/search" method="GET">
        Hakusana:<br>
        <input type="text" name="query" required>        
        <input type="submit" value="Hae">
    </form>

    <form action="/filter_by_topic" method="GET">
        Aihelue: <br>
        <select name="filter_by_topic">
            {% if topics %}
                {% for topic in topics %}
                <option value="{{ topic.name }}">{{ topic.name }}</option>
                {% endfor %}
            {% else %}
                <option value="None"></option>
            {% endif %}
        </select>
        <input type="submit" value="Hae">
    </form>
</div>

{% for message in messages %}
    <strong>Viesti: </strong>{{ message.content }}
    <p>
    <small>Lähettäjä: {{ message.username }}</small>
    --
    <small>Aihealue: {{ message.name }}</small>
    --
    <small>Aika: {{ message.sent_at.strftime("%H:%M / %d.%m.%Y") }}</small>
    --
    <small>Tykkäykset: {{ message.like_count }}</small>
    
    <form action="{{ url_for('like', message_id=message.id) }}" method="POST">
        <input type="submit" value="Tykkää">
    </form> 
  

    <hr>
{% endfor %}
