<link rel="stylesheet" href="./static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class ="header">
<h1>Tervetuloa keskustelusovellukseen!</h1>
</div>
<div class ="content">
{% if session.user_id %}
    OLETKO ADMIN: {{ user_is_admin }}
    Olet kirjautunut sisään.
    {% if user_is_admin %}
        <a href="/new">Lähetä viesti</a> | <a href="/topic">Luo uusi aihealue</a> |<a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <a href="/new">Lähetä viesti</a> | <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
{% else %}
    <a href="/login">Kirjaudu sisään</a>
{% endif %}
</div>
<hr>
Viestien määrä: {{ message_count }} / Sivulataukset: {{visits_count}} / Rekisteröityneet käyttäjät: {{users_count}}
<hr>
{% for message in messages %}
<strong>Viesti: </strong>{{ message.content }}
<p>
<small>Lähettäjä: {{ message.username }}</small>
<p>
<small>Aika: {{ message.sent_at.strftime("%H:%M / %d.%m.%Y") }}</small>
<hr>
{% endfor %}
