<link rel="stylesheet" href="./static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class ="header">
<h1>Keskustelusovellus</h1>
</div>
<div class ="content">
{% if session.user_id %}
    Olet kirjautunut sisään.
    {% if user_is_admin %}
        <a href="/new">Lähetä viesti</a> | <a href="/topic">Luo uusi aihealue</a> | <a href="/">Palaa etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <a href="/new">Lähetä viesti</a> | <a href="/">Palaa etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
{% else %}
    <a href="/login">Kirjaudu sisään</a>
{% endif %}
</div>
<hr>
<div class ="lowercontent">
    Lähetä viesti
</div>
<p>

<form action="/send" method="POST">
    Aihealue: <br>
    <select name="topic_name">
        {% for topic in topics %}
        <option value="{{ topic.name }}">{{ topic.name }}</option>
        {% endfor %}
    </select>
<br>
<br>
Viesti: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
